# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

bin

app/src/main/resources/config/jasypt/application-dev.yml
app/src/main/resources/config/jasypt/application-test.yml
